<footer class="bupt-foto-footer" role="contentinfo">
  <div class="container">
    <p>Designed and built with all the love and passion in the world by <a href="{{ site.author_url }}" target="_blank">{{ site.author }}</a></p>
    <p>Powered by {% for item in site.data.powered_by %}{% unless forloop.first %} &middot; {% endunless %}<a href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% if item.version %} v{{ item.version }}{% endif %}{% endfor %}</p>
    <p><i class="far fa-copyright fa-fw" aria-hidden="true"></i>{{ site.time | date: "%Y" }} <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a></p>
  </div>
</footer>