/* customize.css */

body {
    padding-top: 50px;
}
.bupt-foto-main {
    padding: 100px 15px;
    padding-top: 120px;
    text-align: center;
}
.bupt-foto-avatar {
    margin-bottom: 100px;
}
.bupt-foto-avatar img {
    width: 320px;
}
.bupt-foto-fullname {
    margin-bottom: 10px
}
.bupt-foto-footer {
    text-align: center;
    padding: 50px 0;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
